<div class="jumbotron">
    <h1 class="display-4">Bem vindo ao meu blog</h1>
    <p class="lead">Este é um blog desenvolvido com Node.js + Express + mongoDB.</p><br>
    <hr class="my-4">
    <p>Aqui você vai pode ler sobre as novidades do mundo da computação.</p><br>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" >crie uma conta</a>
    </p>    
    
</div>
<br>
<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4" >
    <div class="card-body">

        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success" >Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small>       
    </div>
</div>
{{else}}
        <h5>Nenhuma Postagem</h5>
{{/each}}